<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <pre>
                Disney API Documentation:

                This project's API returns the following information on Disney movies: 

                Movie_Title: object, the title of the Disney movie in the dataset
                Release_Date: object, the movie publication date
                Director: object, name of the director of the movie
                Genre: object, genre of the movie
                MPAA_Rating: object, rating of each movie
                Total_Gross: object, total gross revenue of the movie
                Inflation_Adjusted_Gross: object, adjusted total gross revenue to reflect inflation

                {{ data }}
        </pre>
    </div>

</body>

</html>